.animated-gradient_animated-gradient__UsGIk canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.splitting .char,
.splitting .word {
  display: inline-block;
}

.splitting .char {
  position: relative;
}

.splitting .char:after,
.splitting .char:before {
  content: attr(data-char);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.splitting {
  --word-center: calc((var(--word-total) - 1) / 2);
  --char-center: calc((var(--char-total) - 1) / 2);
  --line-center: calc((var(--line-total) - 1) / 2);
}

.splitting .word {
  --word-percent: calc(var(--word-index) / var(--word-total));
  --line-percent: calc(var(--line-index) / var(--line-total));
}

.splitting .char {
  --char-percent: calc(var(--char-index) / var(--char-total));
  --char-offset: calc(var(--char-index) - var(--char-center));
  --distance: calc(
    (var(--char-offset) * var(--char-offset)) / var(--char-center)
  );
  --distance-sine: calc(var(--char-offset) / var(--char-center));
  --distance-percent: calc((var(--distance) / var(--char-center)));
}

@import '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:not(iframe, canvas, img, svg, video, svg *) {
  all: unset;
  display: revert;
}

*,
:after,
:before {
  box-sizing: border-box !important;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

@font-face {
  font-family: Oldschool Grotesk;
  src: url(/fonts/oldschool-grotesk/OldschoolGrotesk_W-Medium.woff2)
      format('woff2'),
    url(/fonts/oldschool-grotesk/OldschoolGrotesk_W-Medium.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Oldschool Grotesk;
  src: url(/fonts/oldschool-grotesk/OldschoolGrotesk_W-Book.woff2)
      format('woff2'),
    url(/fonts/oldschool-grotesk/OldschoolGrotesk_W-Book.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: Oldschool Grotesk Compact;
  src: url(/fonts/oldschool-grotesk/OldschoolGroteskCompact_W-Book.woff2)
      format('woff2'),
    url(/fonts/oldschool-grotesk/OldschoolGroteskCompact_W-Book.woff)
      format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Recoleta;
  src: url(/fonts/recoleta/Recoleta-Regular.woff2) format('woff2'),
    url(/fonts/recoleta/Recoleta-Regular.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}

:root {
  --font-recoleta: 'Recoleta', serif;
  --font-oldschool: 'Oldschool Grotesk', sans-serif;
  --font-oldschool-compact: 'Oldschool Grotesk Compact', sans-serif;
}

.recoleta {
  font-family: var(--font-recoleta);
}

.oldschool {
  font-family: var(--font-oldschool);
}

.oldschool-compact {
  font-family: var(--font-oldschool-compact);
}

:root {
  --white: #fff;
  --white-transparent: hsla(0, 0%, 100%, 0);
  --black: #000;
  --black-transparent: transparent;
  --light-grey: #f6f6f4;
  --light-grey-transparent: hsla(60, 10%, 96%, 0);
  --dark-grey: #151515;
  --dark-grey-transparent: hsla(0, 0%, 8%, 0);
  --purple: #df91f7;
  --purple-transparent: rgba(223, 145, 247, 0);
  --yellow: #feed7a;
  --yellow-transparent: hsla(52, 99%, 74%, 0);
  --orange: #ff8400;
  --orange-transparent: rgba(255, 132, 0, 0);
  --gradient-horizontal: linear-gradient(
    90deg,
    var(--yellow) 0%,
    var(--orange) 48.96%,
    var(--purple) 100%
  );
  --gradient-vertical: linear-gradient(
    0deg,
    var(--yellow) 0%,
    var(--orange) 48.96%,
    var(--purple) 100%
  );
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

html:not(.dev) {
  scrollbar-width: none !important;
}

html:not(.dev) body {
  -ms-overflow-style: none;
}

html:not(.dev) body::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

:root {
  --layout-columns-count: 4;
  --layout-columns-gap: 2.6666666667vw;
  --layout-margin: 5.3333333333vw;
  --layout-width: calc(100vw - (2 * var(--layout-margin)));
  --layout-column-width: calc(
    (
        var(--layout-width) -
          ((var(--layout-columns-count) - 1) * var(--layout-columns-gap))
      ) / var(--layout-columns-count)
  );
}

@media (min-width: 800px) {
  :root {
    --layout-columns-count: 12;
    --layout-columns-gap: 1.7361111111vw;
    --layout-margin: 3.4722222222vw;
  }
}

.layout-block,
.layout-grid {
  max-width: var(--layout-width);
  margin-left: auto;
  margin-right: auto;
}

.layout-block-inner,
.layout-grid-inner {
  padding-left: var(--layout-margin);
  padding-right: var(--layout-margin);
}

.connect {
  padding-top: 30px;
}

.layout-grid,
.layout-grid-inner {
  display: grid;
  grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
  grid-gap: var(--layout-columns-gap);
}

.aspect-ratio {
  position: relative;
  padding-bottom: calc(100% / var(--aspect-ratio));
  width: 100%;
  height: 0;
}

.aspect-ratio > :first-child {
  position: absolute;
  inset: 0;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hidden-overflow {
  overflow: hidden;
}

.relative {
  position: relative;
}

@media (min-width: 800px) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .hide-on-mobile {
    display: none !important;
  }
}

html.has-scroll-smooth .hide-on-smooth-scroll,
html:not(.has-scroll-smooth) .hide-on-native-scroll {
  display: none;
}

.h1 {
  font-family: var(--font-oldschool);
  font-size: 16vw;
  line-height: 100%;
}

@media (min-width: 800px) {
  .h1 {
    letter-spacing: -0.035em;
    font-size: 12.5694444444vw;
  }
}

.h2 {
  font-family: var(--font-oldschool);
  font-size: 12.8vw;
  line-height: 100%;
}

@media (min-width: 800px) {
  .h2 {
    letter-spacing: -0.03em;
    font-size: 9.5833333333vw;
  }
}

.h2-alt {
  font-family: var(--font-recoleta);
  font-size: 12.8vw;
  line-height: 100%;
  letter-spacing: -0.01em;
}

@media (min-width: 800px) {
  .h2-alt {
    letter-spacing: -0.03em;
    font-size: 9.5833333333vw;
  }
}

.h3 {
  font-family: var(--font-oldschool);
  font-size: 11.2vw;
  line-height: 100%;
  letter-spacing: -0.01em;
}

@media (min-width: 800px) {
  .h3 {
    letter-spacing: -0.03em;
    font-size: 7.2916666667vw;
  }
}

.h3-alt {
  font-family: var(--font-recoleta);
  font-size: 11.2vw;
  line-height: 100%;
  letter-spacing: -0.01em;
}

@media (min-width: 800px) {
  .h3-alt {
    letter-spacing: -0.03em;
    font-size: 7.2916666667vw;
  }
}

.h4 {
  font-family: var(--font-oldschool);
  font-size: 9.6vw;
  line-height: 100%;
  letter-spacing: -0.01em;
}

@media (min-width: 800px) {
  .h4 {
    letter-spacing: -0.02em;
    font-size: 5.5555555556vw;
  }
}

.h4-alt {
  font-family: var(--font-recoleta);
  font-size: 9.6vw;
  line-height: 100%;
  letter-spacing: -0.01em;
}

@media (min-width: 800px) {
  .h4-alt {
    letter-spacing: -0.03em;
    font-size: 5.5555555556vw;
  }
}

.h5 {
  font-family: var(--font-recoleta);
  font-size: 7.4666666667vw;
  line-height: 120%;
}

@media (min-width: 800px) {
  .h5 {
    line-height: 110%;
    font-size: 4.2361111111vw;
    letter-spacing: -0.03em;
  }
}

.h6 {
  font-family: var(--font-oldschool);
  font-size: 5.6vw;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@media (min-width: 800px) {
  .h6 {
    line-height: 100%;
    font-size: 1.875vw;
  }
}

.h6-alt {
  font-family: var(--font-recoleta);
  font-size: 5.6vw;
  line-height: 110%;
}

@media (min-width: 800px) {
  .h6-alt {
    line-height: 110%;
    font-size: 1.875vw;
  }
}

.p-l {
  font-family: var(--font-oldschool);
  font-size: 4.8vw;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@media (min-width: 800px) {
  .p-l {
    line-height: 130%;
    font-size: 1.4583333333vw;
    letter-spacing: 0;
  }
}

.p {
  font-family: var(--font-oldschool);
  font-size: 4vw;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@media (min-width: 800px) {
  .p {
    line-height: 160%;
    font-size: 1.0416666667vw;
    letter-spacing: 0;
  }
}

.p-s,
html .mktoForm .mktoError {
  font-family: var(--font-oldschool);
  font-size: 3.2vw;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@media (min-width: 800px) {
  .p-s,
  html .mktoForm .mktoError {
    line-height: 170%;
    font-size: 0.8333333333vw;
    letter-spacing: 0;
  }
}

.p-eyebrow {
  font-family: var(--font-oldschool-compact);
  font-size: 2.6666666667vw;
  line-height: 180%;
  letter-spacing: 0.03em;
}

@media (min-width: 800px) {
  .p-eyebrow {
    line-height: 180%;
    font-size: 0.8333333333vw;
    letter-spacing: 0.03em;
  }
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.book {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.theme-light {
  --theme-primary: #f6f6f4;
  --theme-primary-transparent: hsla(60, 10%, 96%, 0);
  --theme-secondary: #000;
  --theme-secondary-transparent: transparent;
  --theme-tertiary: hsla(0, 0%, 100%, 0.5);
  --theme-tertiary-transparent: hsla(0, 0%, 100%, 0);
  --theme-card: #fff;
  --theme-card-transparent: hsla(0, 0%, 100%, 0);
  --theme-hover: #f0f0f0;
  --theme-hover-transparent: hsla(0, 0%, 94%, 0);
}

.theme-dark {
  --theme-primary: #000;
  --theme-primary-transparent: transparent;
  --theme-secondary: #f6f6f4;
  --theme-secondary-transparent: hsla(60, 10%, 96%, 0);
  --theme-tertiary: rgba(38, 38, 38, 0.6);
  --theme-tertiary-transparent: rgba(38, 38, 38, 0);
  --theme-card: #262626;
  --theme-card-transparent: rgba(38, 38, 38, 0);
  --theme-hover: #262626;
  --theme-hover-transparent: rgba(38, 38, 38, 0);
}

.theme-light {
  --theme-box-shadow: 0px 11.0794px 11.818px rgba(0, 0, 0, 0.1),
    inset 0px 0.79572px 4.77432px hsla(0, 0%, 100%, 0.25);
}

@media (min-width: 800px) {
  .theme-light {
    --theme-box-shadow: 0px 8.86702px 9.45815px rgba(0, 0, 0, 0.1),
      inset 0px 0.636826px 3.82096px hsla(0, 0%, 100%, 0.25);
  }
}

.theme-dark {
  --theme-box-shadow: 0px 11.0794px 11.818px rgba(0, 0, 0, 0.1),
    inset 0px 0.79572px 4.77432px hsla(0, 0%, 100%, 0.25);
  --theme-secondary-filter: invert(99%) sepia(24%) saturate(340%)
    hue-rotate(43deg) brightness(107%) contrast(93%);
}

@media (min-width: 800px) {
  .theme-dark {
    --theme-box-shadow: 0px 8.86702px 9.45815px rgba(0, 0, 0, 0.1),
      inset 0px 0.636826px 3.82096px hsla(0, 0%, 100%, 0.25);
  }
}

.p-important,
html .mktoForm .mktoButtonRow .mktoButton,
html .mktoForm .mktoFieldWrap .mktoLabel,
html .mktoForm .mktoFieldWrap select {
  font-family: var(--font-oldschool) !important;
  font-size: 4vw !important;
  font-weight: 300 !important;
  line-height: 140% !important;
  letter-spacing: 0.01em !important;
}

@media (min-width: 800px) {
  .p-important,
  html .mktoForm .mktoButtonRow .mktoButton,
  html .mktoForm .mktoFieldWrap .mktoLabel,
  html .mktoForm .mktoFieldWrap select {
    line-height: 160% !important;
    font-size: 1.0416666667vw !important;
    letter-spacing: 0 !important;
  }
}

.input-style,
html .mktoForm .mktoFieldWrap .mktoField,
html .mktoForm .mktoFieldWrap .mktoField .mktoField,
html .mktoForm .mktoFieldWrap .mktoField input[type='text'],
html .mktoForm .mktoFieldWrap .mktoTextField,
html .mktoForm .mktoFieldWrap .mktoTextField .mktoField,
html .mktoForm .mktoFieldWrap .mktoTextField input[type='text'],
html .mktoForm .mktoFieldWrap select {
  width: 100%;
  height: 13.3333333333vw;
  border-radius: 2.6666666667vw !important;
  border: 1px solid var(--black);
  background: #fff;
}

@media (min-width: 800px) {
  .input-style,
  html .mktoForm .mktoFieldWrap .mktoField,
  html .mktoForm .mktoFieldWrap .mktoField .mktoField,
  html .mktoForm .mktoFieldWrap .mktoField input[type='text'],
  html .mktoForm .mktoFieldWrap .mktoTextField,
  html .mktoForm .mktoFieldWrap .mktoTextField .mktoField,
  html .mktoForm .mktoFieldWrap .mktoTextField input[type='text'],
  html .mktoForm .mktoFieldWrap select {
    border-radius: 0.6944444444vw !important;
    height: 3.4722222222vw;
    width: 30.8333333333vw;
  }
}

html .mktoForm {
  display: flex !important;
  flex-direction: column !important;
  padding-right: 0 !important;
}

html .mktoForm .mktoCheckboxList > label {
  margin-left: 0;
}

html .mktoForm .mktoFormRow {
  width: 100%;
}

@media (min-width: 800px) {
  html .mktoForm .mktoFormRow {
    width: 30.8333333333vw;
  }
}

html .mktoForm .mktoFieldDescriptor {
  margin-bottom: 4vw;
}

@media (min-width: 800px) {
  html .mktoForm .mktoFieldDescriptor {
    margin-bottom: 1.0416666667vw;
  }
}

html .mktoForm .mktoAsterix,
html .mktoForm .mktoOffset {
  display: none;
}

html .mktoForm .mktoGutter {
  margin-bottom: 0.1388888889vw !important;
}

html .mktoForm .mktoFieldWrap .mktoLogicalField {
  display: inline-block;
  vertical-align: middle;
}

html .mktoForm .mktoFieldWrap .mktoLogicalField .mktoField {
  border-radius: 0.2777777778vw !important;
  width: 1.25vw;
  height: 1.25vw;
  border: 1px solid var(--black);
  background: #fff;
}

html .mktoForm .mktoFieldWrap .mktoLabel {
  height: 6.4vw;
  margin-bottom: 3.2vw !important;
  color: #050505;
  opacity: 0.7;
  margin-right: 5.3333333333vw !important;
}

@media (min-width: 800px) {
  html .mktoForm .mktoFieldWrap .mktoLabel {
    height: 1.6666666667vw;
    margin-bottom: 0.8333333333vw !important;
    margin-right: 1.3888888889vw !important;
  }
}

html .mktoForm .mktoFieldWrap select {
  padding: 3.7333333333vw 5.3333333333vw !important;
  background-image: url(/images/chevron.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 95%;
}

@media (min-width: 800px) {
  html .mktoForm .mktoFieldWrap select {
    background-size: 5%;
    background-position: 98%;
    padding: 0.8333333333vw 1.3888888889vw !important;
  }
}

html .mktoForm .mktoFieldWrap option {
  background-color: var(--white);
  color: var(--black);
}

html .mktoForm .mktoError {
  font-weight: 400;
}

html .mktoForm .mktoButtonRow {
  margin-top: 5.3333333333vw !important;
  width: 100%;
}

html .mktoForm .mktoButtonRow .mktoButton {
  width: 100%;
  background-image: none !important;
  background-color: var(--black);
  color: var(--white);
  border-radius: 2.6666666667vw;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 50px;
}

@media (min-width: 800px) {
  html .mktoForm .mktoButtonRow .mktoButton {
    border-radius: 0.6944444444vw;
    width: 30.8333333333vw;
    height: 3.4722222222vw;
  }

  html .mktoForm .mktoButtonRow {
    margin-top: 2.7777777778vw !important;
    width: 30.8333333333vw;
  }
}

html .mktoForm .mktoCheckboxList input,
html .mktoForm .mktoCheckboxList label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html .mktoForm .mktoCheckboxList input {
  opacity: 0;
  position: absolute;
}

html .mktoForm .mktoCheckboxList input + label:before {
  content: '';
  border-radius: 0.3472222222vw !important;
  border: 1px solid var(--black);
  display: inline-block;
  vertical-align: middle;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  text-align: center;
}

html .mktoForm .mktoCheckboxList input + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -49%);
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.2777777778vw !important;
  width: 0.9722222222vw;
  height: 0.9722222222vw;
  text-align: center;
  background-color: var(--black);
  opacity: 0;
  transition: opacity 0.1s var(--ease-in-quad);
}

html .mktoForm .mktoCheckboxList input:checked + label:after {
  opacity: 1;
}

html .mktoForm .mktoCheckboxList label {
  position: relative;
}

html .mktoForm .mktoErrorMsg {
  position: absolute;
  left: 12%;
}

:root {
  --header-height: 21.3333333333vw;
  --collapsed-header-height: 22.9333333333vw;
}

@media (min-width: 800px) {
  :root {
    --header-height: 9.0277777778vw;
    --collapsed-header-height: 6.3888888889vw;
  }
}

html {
  scroll-padding-top: var(--collapsed-header-height);
  font-feature-settings: 'liga', 'clig';
  font-variant-ligatures: common-ligatures;
  scroll-behavior: auto;
  overflow: overlay;
  transition: opacity 1s var(--ease-out-expo);
}

html.nav {
  overflow: hidden;
}

html:not(.is-loaded) {
  opacity: 0;
  transition: unset;
}

body,
html {
  overscroll-behavior: none;
  width: 100%;
  min-height: 100%;
}

@media (max-width: 800px) {
  body,
  html {
    overflow-x: hidden;
  }
}

body {
  min-height: 100vh;
}

.box-shadow {
  box-shadow: var(--theme-box-shadow);
}

.rounded {
  overflow: hidden;
  border-radius: 2.6666666667vw;
  z-index: 1;
}

@media (min-width: 800px) {
  .rounded {
    border-radius: 1.1111111111vw;
  }
}

.link {
  display: inline-block;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transition: 1s color var(--ease-out-expo);
  white-space: nowrap;
}

.link.active:after {
  transform: scaleX(1);
  transform-origin: center left;
}

@media screen and (hover: hover) {
  .link:focus,
  .link:hover {
    color: var(--purple);
  }

  .link:focus:after,
  .link:hover:after {
    transform: scaleX(1);
    transform-origin: center left;
  }
}

@media (min-width: 800px) {
  .link:after {
    background-color: currentColor;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: center right;
    transition: transform 1s var(--ease-out-expo);
    width: 100%;
  }
}

.link--active {
  color: var(--purple);
}

.link--active:after {
  transform: scaleX(1);
  transform-origin: center left;
}

a,
button,
input,
label,
select,
textarea {
  color: inherit;
  cursor: pointer;
}

svg.icon circle[fill],
svg.icon path[fill],
svg.icon rect[fill] {
  fill: currentColor;
}

svg.icon circle[stroke],
svg.icon path[stroke],
svg.icon rect[stroke] {
  stroke: currentColor;
}

::selection {
  background-color: var(--purple);
  color: var(--theme-primary);
}
