selector .jet-form-builder__field-label.for-radio :checked+span::before { 
    background-color: none !important;
    background-image: none !important;
    border-color: #999 !important;
    background: linear-gradient(90deg, #feed7a 0%, #ff8400 48.96%,#df91f7 100%) !important;
    
}