selector .wp-container-core-columns-is-layout-1,
.wp-container-core-columns-is-layout-2 {
  margin: 0;
  gap: 1em;
}

@media screen and (max-width: 767px) {
  selector .wp-container-core-columns-is-layout-1,
  .wp-container-core-columns-is-layout-2 {
    gap: 0;
  }
}

selector .jet-form-builder__action-button {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

selector .jet-form-builder__action-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  border-radius: 1000px;
  background: var(--e-global-color-primary);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

selector .jet-form-builder__action-button:hover:after {
  width: 100%;
}

/* Appointment */
.jet-form-builder__field-wrap.radio-wrap.checkradio-wrap {
  margin-top: 0.5em;
  margin-right: 1em;
}
.jet-form-builder__field-label.for-radio :checked + span::before {
  border-color: #615145 !important;
  background-color: #615145 !important;
}
.jet-form-builder__field-label > span::before {
  border: 1px solid #615145 !important;
}

selector .jet-form-builder__field-label.for-checkbox span {
  display: flex;
  align-items: center;
}

selector .jet-form-builder__field-label.for-checkbox > span > p {
  margin: 0;
}

selector a {
  color: inherit;
}

selector .jet-apb-calendar-date .jet-apb-calendar-date-body {
  height: 2.4em;
  width: 2.4em;
}

@media screen and (max-width: 767px) {
  selector .jet-apb-calendar-date .jet-apb-calendar-date-body {
    height: 1.8em;
    width: 1.8em;
  }
}

selector .jet-apb-calendar-date {
  padding: 0.2rem;
}

selector
  .jet-apb-calendar-date[data-status="true"]
  .jet-apb-calendar-date-body {
  background-color: #fff;
  color: #000 !important;
  border-radius: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
}

selector
  .jet-apb-calendar-date.jet-apb-calendar-date--selected
  .jet-apb-calendar-date-body {
  background-color: var(--e-global-color-accent);
  color: #fff !important;
}
selector .jet-apb-slot {
  background-color: #52728236;
  padding: 0.2rem 0.7rem;
  border-radius: 0.2rem;
}
selector .jet-apb-slot--selected {
  color: #fff;
  background-color: var(--e-global-color-accent);
}

@media screen and (min-width: 767px) {
  selector
    .jet-apb-calendar-slots.jet-apb-calendar-slots--active.jet-apb-calendar-type-slot {
    padding: 1.5rem 0 1rem 1rem;
  }
}

selector .jet-apb-calendar-appointments-list-wrapper {
  margin-top: 1.5rem;
}
selector .jet-apb-appointments-item {
  margin-bottom: 0;
}
