selector .slick-slider.slick-dotted {
    display: flex !important;
    flex-direction: row;
}

selector .slick-list.draggable {
    width: 90%;
}

selector .jet-slick-dots {
    width: 10%;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    selector .slick-slider.slick-dotted {
    display: flex !important;
    flex-direction: column;
}

  selector .jet-slick-dots {
      margin-top: -1em;
    width: 100%;
    flex-direction: row;
}
}