selector .jet-reviews-user-data__avatar {
    background-color: #f2f2f2;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    color: transparent;
}

selector .jet-reviews-advanced__review-title {
    margin: 1rem 0 .5rem;
}

selector .jet-reviews-advanced__summary-rating .fa-star:before {

    font-size: .85rem;
}

selector .jet-reviews-user-data__summary-rating .fa-star:before {

    font-size: .7rem;
}

selector .jet-reviews-user-data__info-row {
    margin-bottom: 0;
}


selector .jet-reviews-advanced__header {
    border-bottom: 1px solid #f2f2f2;
    margin: 0;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

selector .jet-reviews-message {
    font-size: .75rem;
}