selector::after {
  content: '';
  z-index: 0;
  border-radius: 2px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ff5414;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  -webkit-transform: rotate(183deg);
  -moz-transform: rotate(183deg);
  transform: rotate(183deg);
}
